

.footer-center{
    background-image: url('/img/footer-bg.jpg');
    height: 450px;
 
    &::after{
        display: table;
        content: "";
        clear: both;
    }
    .container{
    
        height: 100%;
    }
    .left-box, .right-box{
        width: 50%;
        float: left;
        height: 100%;
        display: flex;
        position: relative;
        
    }
    .left-box{
        padding-top: 20px;
        
        .links{
            width: calc(80% / 3);
            h1{
                color: $textWhite;
                padding: 20px 0;
            }
            li{
                margin: 10px 0;
            }
            a{
                text-decoration: none;
                font-size: 15px;
                color: gray;
                
            }
        } 
    }
    .right-box{
        
        position: relative;
        #img-container{
            position: absolute;
            
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-height: 100%;
            text-align: center;
            overflow: hidden;
            
            img{
                vertical-align: middle;
                position: absolute;
                height: 150%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}