

.th-main{
    min-height: 100px;
    background-color: $bgGray;
    display: flex;
    
    .th-container{
        padding-top: 50px;
        display: flex;
        height: 100%;
        flex-wrap: wrap;

        .thumb{
            display: flex;
            flex-direction: column;
            position: relative;
            height: 300px;
            width: calc(100% / 6);
                
            .th-img-cont{
                position: absolute;
                top: 0;
                left: 0;
                height: 200px;
                overflow: hidden;
            }
            span{
                color: $textWhite;
                position: absolute;
                top: 220px;
                display: inline-block;
                max-width: 90%;
            }
        }
    }
}
